ul {
	margin: 0px;
	padding: 0px;
}

.simple_slider {
	width: 500px;
	height: 300px;
	overflow: hidden;
	position: relative;
	margin: 0px;
	padding: 0px;
}
.simple_slider ul {}
.simple_slider ul li {
	float: left;
	list-style-type: none;
}
.simple_slider ul li a{}
.simple_slider ul li img{}
.simple_slider img{
	width: 500px;
	height: auto;
}